
  
    {% extends 'base.html' %}


{% block body %}
    <div style="background-color: #445555;" >  

      <img src="https://t3.ftcdn.net/jpg/02/41/32/08/360_F_241320835_Z2fuURdWsRgtTnkARGQqiorzH8p4fnE5.jpg" class="rounded float-end" width = "200" hieght= "200" alt="...">


    
    <img src="https://t3.ftcdn.net/jpg/02/41/32/08/360_F_241320835_Z2fuURdWsRgtTnkARGQqiorzH8p4fnE5.jpg" class="rounded float-start" width = "200" hieght= "200" alt="...">
    
    <h1 class="display-4 text-center ">Welcome everyone!!!</h1>
    
    



    <h1 class=" display-6 text-center"> to</h1>

   


    <h1 class="display-4 text-center"> Workout tracker </h1>
    <p></p>
    <p></p>

    <div class="container text-left display-7 text-center border border-5 whtie" >
        <div class="row">
        <div class="col">
          <b> Our Misson statement:</b>
          <p>This workout tracker is a tool made for people who want to track their progress. This tool is for beginners and veterans. Seeing progress helps us know we are improving even if the physical results are hard to see. This app is more efficient than using a notepad or the notes app on your phone as its easy to use in that you must only input into a premade structure. <p> </p></p>
        </div>
    </div>
    </div>


          
     
<p></p>





    
    


    

    {% endblock %}